@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111111;
  --control-padding-x: 24px;
}

@utility control-padding {
  padding-inline: var(--control-padding-x);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f3f4f6;
  color: #111;
  font-family: var(--font-manrope), Arial, sans-serif;
}
.react-datepicker {
font-family: var(--font-manrope);
border-radius:24px;
border:none;
box-shadow:0 20px 50px rgba(0,0,0,.08);
padding:10px;
}

.react-datepicker__header {
background:#f5f6f7;
border:none;
border-radius:20px;
}

.react-datepicker__day--selected {
background:black;
border-radius:50%;
}

.react-datepicker__day:hover {
border-radius:50%;
}
